<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/books">Home</a>
                </li>
                <li>
                    <a href="/books/new">Add Book</a>
                </li>
            </ul>
        </nav>
    </header>

    <img src="/images/<%= book.cover_image %>" alt="<%=book.cover_imag%>">
    <h2><%= book.title %></h2>
    <cite> <%= book.name %> </cite>
    <p> <%= book.summary %> </p>
    <span> <%= book.pages %> </span>
    <p> <%= book.publication %> </p>
    <p> <%= book.category %> </p>
    <a href="/books/<%= book._id%>/edit">Edit</a>
    <a href="/books/<%= book._id%>/delete"">Delete</a>
</body>
</html>